h1{
    background-color: rgba(73,137,252,0.8);
    text-align: center;
    color: white;
    padding: 0.5em;
    border: 5px solid #FFFFFF;
    border-radius: 50px 0px 50px 0px;
    margin-left: 15%;
    margin-right: 15%;
    /*border-radius: 5px;*/
}

.ooo{
    text-align: center;
    font-size: 1.2em;
    color: white;
    background-color: rgba(73,137,252,0.8);
    padding: 5px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    /*border-radius: 20px 0px 20px 0px;*/
    float: left;
    font-weight: bold;
    padding: 12px;
}

.box{
    display: flex;
    justify-content: center;
}

.boxita{
    text-align: center;
    font-weight: bold;
    background-color: rgba(255,255,255,0.5);
    border-radius: 8px;
    padding: 8.5px;
}