.container{
    font-family: OpenSans;
    color: white;
    padding: 2px;
    border-radius: 10px;
    background-color: #007A33;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.foto-Info {
    flex-grow: 1;
    height: 100%;
    width: 50%;
}
.foto-Info {
    transition: transform .2s;
}
.text-Info{
    flex-grow: 1;
    height: 50%;
    width: 50%;
}

/* Barra de scroll */

body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  -webkit-appearance: none;
}
body::-webkit-scrollbar-thumb {
  //background-color: rgb(176,255,185);
  border-radius: 15px;
  //outline: 1px solid slategrey;
  background-color: #00346b;
  //background-image: -webkit-gradient(linear, 20% 0%, 75% 84%, from(#4D9C41), to(#19911D), color-stop(.6,#54DE5D))
}
body::-webkit-scrollbar-thumb:hover {
  //background-color: rgb(152,218,160);
  border-radius: 15px;
  //outline: 1px solid slategrey;
  background-color: #0099cc;
  //background-image: -webkit-gradient(linear, 0% 100%, 85% 0%, from(#FB3D27), to(#FB3D27), color-stop(.6,#FBDC27))
}
body::-webkit-scrollbar-track-piece{
  background-color: #FFF;
  border-radius: 15px;
}
