<!DOCTYPE html>
{% load static %}
{% block content %}
    {% csrf_token %}

    <html lang="es" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Mapa</title>

        <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                crossorigin="anonymous"></script>
        <script src="{% static 'js/ol3-layerswitcher.js' %}"></script>
        <script src="{% static 'js/FuncionesCluster.js' %}"></script>
        <script src="{% static 'js/FuncionesInteraccion.js' %}"></script>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
        <link rel="stylesheet"
              href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css">
        <link rel="stylesheet" href="{% static 'css/ol3-layerswitcher.css' %}">
        <link rel="stylesheet" href="{% static 'css/popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilo_Mapa.css' %}">
        <link rel="stylesheet" href="{% static 'css/estilos_pagina.css' %}">



    </head>
    <body style="background-color: rgba(147,205,180)">
    <h1>Mapa campus de la UMA</h1>

    <div class="box">
        <p class="boxita">En este mapa se muestra información obtenida de los sensores repartidos por el campus de la UMA</p>
    </div>

    <div id="map" class="map" style="width: 100%; height: 400px"></div>
    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>
    <p></p>
    <div id="photo-info" class="container">
        <div id="fotoInfo" class="foto-Info"></div>
        <ul id="textInfo" class="text-Info"></ul>
    </div>

    <div class="ooo"><p>Comprobaciones</p><p id="prueba"></p></div>


    <p id="demo"></p>
    <script>
        var coordenadasIniciales = ol.proj.fromLonLat([-4.472176, 36.716432]);
        //ESTILOS==============================================

        /*var styles = {
            'Point': new ol.style.Style({
            image: image
        })}
        var styleFunction = function(feature) {
            return styles[feature.getGeometry().getType()];
          };*/
        //=====================================================

        //Función para buscar en un json ========================================

        function buscar_x_ID_JSON(data_json, id_buscada) {
            nMax = data_json.length;
            for (var i = 0; i < nMax; i++) {
                /* Segundo bucle para buscar dentro del array que contiene los distintos grupos de entidades */
                mMax = data_json[i].length;
                for (var j = 0; j < mMax; j++) {
                    if (data_json[i][j].id == id_buscada) {
                        return data_json[i][j];
                    }
                }
            }
            return false;
        }
        //=======================================================================

        var entidad_Source_0 = new ol.source.Vector();
        var entidad_Source_1 = new ol.source.Vector();
        var entidad_Source_2 = new ol.source.Vector();
        var entidad_Source_3 = new ol.source.Vector();
        var obj = {{ entidades|safe }};

        var n_ent_diferentes = obj.length;
        for (var i = 0; i < n_ent_diferentes; i++) {
            var n_entidades = obj[i].length;
            for (var j = 0; j < n_entidades; j++) {
                if ( obj[i][j].location.value.type == 'Point' ) {
                    var coordenadas = ol.proj.fromLonLat(obj[i][j].location.value.coordinates);
                    var geometry = new ol.geom.Point(coordenadas);
                } else {
                    var n_vertices = obj[i][j].location.value.coordinates[0].length;
                    var coordenadasP = new Array();
                    for ( k = 0; k < n_vertices; k++) {
                        coordenadasP[k] = obj[i][j].location.value.coordinates[0][k];
                    }
                    var geometry = new ol.geom.Polygon([coordenadasP]).transform('EPSG:4326', 'EPSG:3857');
                }
                        var feature = new ol.Feature({
                            geometry: geometry,
                            name: obj[i][j].type
                        });

                feature.setId(obj[i][j].id)
                /* Comprobaciones del codigo mostrada directamente en la página */
                document.getElementById('prueba').innerHTML = obj[1][1].id;    /* -------------- Comprobaciones ----- */

                switch(i) {
                  case 0: entidad_Source_0.addFeature(feature); break;
                  case 1: entidad_Source_1.addFeature(feature); break;
                  case 2: entidad_Source_2.addFeature(feature); break;
                  case 3: entidad_Source_3.addFeature(feature); break;
                }
            }
        }

        // a cluster source can group photos that are too close
        var clusterSource_1 = new ol.source.Cluster({
            source: entidad_Source_0,
            distance: 15
        });
        var clusterSource_2 = new ol.source.Cluster({
            source: entidad_Source_1,
            distance: 10
        });
        var clusterSource_3 = new ol.source.Cluster({
            source: entidad_Source_2,
            distance: 15
        });
        var clusterSource_4 = new ol.source.Cluster({
            source: entidad_Source_3,
            distance: 15
        });
        var vectorLayer = new ol.layer.Vector({
            source: clusterSource_1,
            style: clusterStyle_1
        });

        var cache = {};


        //document.getElementById('demo').innerHTML = ["Coordenadas Brutas: " + coordenadas];
        //var tipo = obj[0].location.value.type;

        //****POP-UP*************************************************************************************************
        /**
         * Elements that make up the popup.
         */
        var container = document.getElementById('popup');
        var content = document.getElementById('popup-content');
        var closer = document.getElementById('popup-closer');
        var info = document.getElementById('photo-info');
        var text_Info = document.getElementById('textInfo');
        var foto_Info = document.getElementById('fotoInfo');


        /**
         * Create an overlay to anchor the popup to the map.
         */
        var overlay = new ol.Overlay({
            element: container,
            autoPan: true,
            autoPanAnimation: {
                duration: 250
            }
        });

        /**
         * Add a click handler to hide the popup.
         * @return {boolean} Don't follow the href.
         */
        closer.onclick = function () {
            overlay.setPosition(undefined);
            closer.blur();
            selectObject.getFeatures().clear(); //Deselecciono el objeto
            return false;
        };
        //**************************************************************************************************************


        //***** Constructor MAPA *****************

        var view = new ol.View({
            center: coordenadasIniciales,
            zoom: 10
        })

        var planoOSM = new ol.layer.Tile({
            title: 'Capa Plano',
            source: new ol.source.OSM()
        });

        var capaCargadores = new ol.layer.Vector({
            title: 'Cargadores',
            source: clusterSource_3,
            style: clusterStyle_3
            //style: styleFunction
        });

        var capaBiodiversidad = new ol.layer.Vector({
            title: 'Biodiversidad',
            source: clusterSource_2,
            style: clusterStyle_2
            //style: styleFunction
        });

        var capaArboles = new ol.layer.Vector({
            title: 'Árboles',
            source: clusterSource_1,
            style: clusterStyle_1
            //style: styleFunction
        });

        var capaZonas = new ol.layer.Vector({
            title: 'Zonas',
            source: entidad_Source_3,
            style: Style_Z
            //style: clusterStyle_4
        });

        var map = new ol.Map({
            layers:[
                new ol.layer.Group({
                    //'title': 'Capas Base',
                    layers: [
                        planoOSM,]
                }),
                new ol.layer.Group({
                    'title': 'Capas de Datos',
                    layers: [
                        capaZonas,
                        capaArboles,
                        capaBiodiversidad,
                        capaCargadores]
                })
                ],
            overlays: [overlay],
            target: 'map',
            view: view,
        })
        map.addControl(new ol.control.ZoomSlider());

        var selectObject = new ol.interaction.Select({
                layers: [capaArboles, capaBiodiversidad, capaCargadores, capaZonas],
                style: styleSelectObject
            })
        ;
        var layerSwitcher = new ol.control.LayerSwitcher({
            tipLabel: 'Leyenda'
        });
        map.addControl(layerSwitcher);
        layerSwitcher.showPanel();

        map.addInteraction(selectObject);

        //Cambios de estilo del cursor para que salga la mano señalando cuando haya un elemento ==============
        map.on('pointermove', function (e) {
            if (e.dragging) {
                return
            }
            var pixel = map.getEventPixel(e.originalEvent);
            var hit = map.hasFeatureAtPixel(pixel);
            map.getTargetElement().style.cursor = hit ? 'pointer' : '';
        });
        map.on('click', function (e) {
            overlay.setPosition(undefined);
            closer.blur();
            selectObject.getFeatures().clear(); //Deselecciono el objeto
        });
        map.on('pointerdrag', function (e) {
            overlay.setPosition(undefined);
            closer.blur();
            selectObject.getFeatures().clear(); //Deselecciono el objeto
        });


        //=====================================================================================================

        /**
         * Add a click handler to the map to render the popup.
         */
        /*map.on('singleclick', function (evt) {
            var coordinate = evt.coordinate;
            var hdms = ol.coordinate.toStringHDMS(ol.proj.toLonLat(coordinate));

            content.innerHTML = '<p>You clicked here:</p><code>' + hdms +
                '</code>';
            overlay.setPosition(coordinate);
        });
        */


        console.log("test")

    </script>
    </body>
    </html>
{% endblock %}